# LaTeX things
*.aux
*.lof
*.lot
*.log
*.nav
*.out
*.pdf
!src/imgs/*
*.snm
*.toc
*.mp4

.DS_Store

*.csv
checkpoints/

# Intermediary tex files that are useful for debugging but are generally
# ethereal
tex/*.tex

*.png
